.btn {
  outline: none;
  box-shadow: none;

  &:focus {
    box-shadow: none;
  }
}
.btn-primary {
  background: $accent;
  color: $button-primary;
  border: 0;
  outline: none;
  box-shadow: none;

  &:focus {
    background: $accent;
    box-shadow: none;
  }

  &:hover {
    background: $accent;
    box-shadow: inset 0 0 0 100px rgba(0, 0, 0, 0.06);
  }

  &:active {
    background: $accent;
    box-shadow: inset 0 0 0 100px rgba(0, 0, 0, 0.12) !important;
  }

  &.disabled {
    background: $gray-03;
    color: $label-5;
  }
}
.btn-secondary {
  background: $gray-03;
  color: $button-secondary;
  border: 0;
  outline: none;
  box-shadow: none;

  &:focus {
    background: $gray-03;
    box-shadow: none;
    color: $button-secondary;
  }

  &:hover {
    background: $gray-06;
    color: $button-secondary;
  }

  &:active {
    background: $gray-12;
    color: $button-secondary;
  }

  &.disabled {
    background: $gray-03;
    color: $label-5;
  }
}
.btn-transparent {
  background: transparent;
}

// Social nets variants
.btn-social {
  @extend .btn-2;
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: center;
}
.btn-google {
  @extend .btn-social;
  background: $bg-primary;
  border: 1px solid $gray-08;
}
.btn-facebook {
  @extend .btn-social;
  color: #fff;
  background: #4064AC;

  &:hover {
    color: #fff;
  }
}
.btn-twitter {
  @extend .btn-social;
  color: #fff;
  background: #369CEA;

  &:hover {
    color: #fff;
  }
}
.btn-github {
  @extend .btn-social;
  color: #fff;
  background: #23282D;

  &:hover {
    color: #fff;
  }
}
.btn-apple {
  @extend .btn-social;
  color: #fff;
  background: #000;

  &:hover {
    color: #fff;
  }
}
.btn-vk {
  @extend .btn-social;
  color: #fff;
  background: #2A76D2;

  &:hover {
    color: #fff;
  }
}

.btn-xl {
  @extend .btn-1;
  padding: 0 16px;
  height: 48px;
  border-radius: 10px;
  line-height: 48px;
}
.btn-lg {
  @extend .btn-2;
  padding: 10 16px;
  height: 44px;
  border-radius: 10px;
  line-height: 44px;
}
.btn-md {
  @extend .btn-3;
  padding: 0 12px;
  height: 40px;
  border-radius: 8px;
  line-height: 40px;
}
.btn-sm {
  @extend .btn-4;
  padding: 0 12px;
  height: 30px;
  border-radius: 8px;
  line-height: 30px;
}
.btn-xs {
  @extend .btn-5;
  padding: 0 12px;
  height: 30px;
  border-radius: 8px;
  line-height: 30px;
}

.btn-i-xl {
  text-align: center;
  padding: 0;
  width: 48px;
  height: 48px;
  border-radius: 8px;
  line-height: 48px;
}
.btn-i-lg {
  text-align: center;
  padding: 0;
  width: 44px;
  height: 44px;
  border-radius: 8px;
  line-height: 44px;
}
.btn-i-md {
  text-align: center;
  padding: 0;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  line-height: 40px;
}
.btn-i-sm {
  text-align: center;
  padding: 0;
  width: 30px;
  height: 30px;
  border-radius: 8px;
  line-height: 30px;
}

.btn-highlight {
  background: transparent;

  &:hover {
    background: $highlight;
  }
}

kbd {
  @include typoStyle(13, 16, 0.4);
  font-family: 'Inter', sans-serif;
  background: $bg-primary;
  border: 1px solid $black;
  color: $black;
  padding: 0px 5px;
  border-radius: 8px / 2;
  box-shadow: 0px 3px 0px 0px $black;
  margin: 0 6px;
  text-transform: uppercase;
  display: inline-block;
  transform: translateY(-3px);
}

.crip {
  @extend .par-5;
  @extend .medium;
  padding: 6px 8px;
  display: inline-flex;
  gap: 8px;
  align-items: center;
  cursor: pointer;
  border-radius: 8px;
}
.crip.crip-primary {
  color: $accent;
  background: rgba($accent, 0.12);

  &:focus {
    background: rgba($accent, 0.12);
  }

  &:hover {
    background: rgba($accent, 0.16);
  }

  &:active {
    background: rgba($accent, 0.2);
  }

  &.disabled {
    color: rgba($accent, 0.6);
    background: rgba($accent, 0.12);
  }
}
.crip.crip-red {
  color: $red;
  background: rgba($red, 0.12);

  &:focus {
    background: rgba($red, 0.12);
  }

  &:hover {
    background: rgba($red, 0.16);
  }

  &:active {
    background: rgba($red, 0.2);
  }

  &.disabled {
    color: rgba($red, 0.6);
    background: rgba($red, 0.12);
  }
}
.crip.crip-teal {
  color: $teal;
  background: rgba($teal, 0.12);

  &:focus {
    background: rgba($teal, 0.12);
  }

  &:hover {
    background: rgba($teal, 0.16);
  }

  &:active {
    background: rgba($teal, 0.2);
  }

  &.disabled {
    color: rgba($teal, 0.6);
    background: rgba($teal, 0.12);
  }
}
.crip.crip-yellow {
  color: $yellow;
  background: rgba($yellow, 0.12);

  &:focus {
    background: rgba($yellow, 0.12);
  }

  &:hover {
    background: rgba($yellow, 0.16);
  }

  &:active {
    background: rgba($yellow, 0.2);
  }

  &.disabled {
    color: rgba($yellow, 0.6);
    background: rgba($yellow, 0.12);
  }
}
.crip:hover {
  background: $highlight;
}