.medium-wrap {
  @extend .container;
  @extend .offset-xxl-1;
  padding: 0;
}

@media (min-width: 1444px) {
  .container {
    max-width: 1440px!important;
    padding: 0;
  }
}

@media (max-width: 576px) {
  .container {
    padding: 0 24px;
  }
}