.medium-wrap {
  @extend .container;
  @extend .offset-xxl-1;

  padding: 0;
}

@media (min-width: 1400px) {
  .container {
    max-width: 1464px!important;
  }
}

@media (max-width: 576px) {
  .container {
    padding: 0 24px;
  }
}