.anim-click {
  transition: 0.2s !important;

  &:active {
    transform: scale(0.98);
  }
}

.anim-click-sm {
  transition: 0.2s !important;

  &:active {
    transform: scale(0.94);
  }
}

.anim-pop {
  animation: anim-pop 0.2s forwards;
}
@keyframes anim-pop {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.anim-fade-out-in {
  animation: anim-fade-out-in 0.3s forwards;
}
@keyframes anim-fade-out-in {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}