nav {
  height: 68px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  background: #fff;
  display: flex;

  * {
    align-self: center;
  }

  .row {
    justify-content: space-between;
  }

  .actions {
    display: flex;
    justify-content: flex-end;

    .page-action {
      margin-left: 8px;
      display: flex;
      gap: 8px;
      margin-top: 2px;
    }
  }
}

.profile {
  margin-left: 20px;
}

@media (max-width: 768px) {
  nav {
    border-bottom: 0;
  }
  .profile {
    margin-left: 8px;
  }
}