// Solid colors
$accent: #0284EB;
$red: #DA4239;
$black: #000;

//Background colors
$primary: #fff;
$secondary: #FAFAFA;

//Label colors
$label-1: rgba(#000, 1);    // 100%
$label-2: rgba(#000, 0.6);  // 60%
$label-3: rgba(#000, 0.5);  // 50%
$label-4: rgba(#000, 0.4);  // 40%
$label-5: rgba(#000, 0.3);  // 30%
$label-6: rgba(#000, 0.22); // 22%
$label-7: rgba(#000, 0.16); // 16%


// Other colors
$highlight: rgba(#000, 0.04)